<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @student.matricula %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @student.course.nome %>
</p>

<p>
  <strong>Contatos:</strong><br>
  <% @student.contacts.each do |contact| %>
    <%= contact.tipo %>: <%= contact.valor %>
  <%end%>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @student.conclusion.ano%><%= @student.conclusion.semestre %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
