<p id="notice"><%= notice %></p>

<h2>Estudantes</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Curso</th>
      <th>Conclusão</th>
      <th>Homologado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Student.all.each do |student| %>
      <% if student.course.id == current_coordinator.course.id %>
        <tr>
          <td><%= student.nome %></td>        
          <td><%= student.matricula %></td>
          <td><%= student.course.nome %></td>
          <td><%= student.conclusion.nome %></td>
            <% if student.homologado == 0 %>
              <td>Não</td>
              <td>
                <%= button_to "Homologar", student_path(student), :method => :put %>
              </td>  
            <% else %>
              <td>Sim</td> 
            <%end%>
          </td>
          
        </tr>
    <% end %>
  </tbody>
  
  <%end%>
</table><br>

<h2>Depoimentos</h2>

<table>
  <thead>
    <tr>
      <th>Texto</th>
      <th>Estudante</th>
      <th>Homologado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Brief.all.each do |brief| %>
      <% if brief.student.course.id == current_coordinator.course.id %>
        <tr>
          <td><%= brief.texto %></td>
          <td><%= brief.student.nome %></td>
          <% if brief.homologado == 0 %>
              <td>Não</td>
              <td>
                <%= button_to "Homologar", brief_path(brief), :method => :put %>
              </td>  
            <% else %>
              <td>Sim</td> 
          <%end%>
          <!-- <td><%= link_to 'Edit', edit_brief_path(brief) %></td>
          <td><%= link_to 'Destroy', brief, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>