<%= form_with(model: brief, local: true) do |form| %>
  <% if brief.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brief.errors.count, "error") %> prohibited this brief from being saved:</h2>

      <ul>
      <% brief.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_field :texto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
