<p id="notice"><%= notice %></p>

<h2>Depoimentos</h2>

<table>
  <thead>
    <tr>
      <th>Texto</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @briefs.each do |brief| %>
      <tr>
        <td><%= brief.texto %></td>
        <td><%= brief.student.nome %></td>
        <td><%= link_to 'Show', brief %></td>
        <!-- <td><%= link_to 'Edit', edit_brief_path(brief) %></td>
        <td><%= link_to 'Destroy', brief, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if student_signed_in?%>
  <%= link_to 'Depor', new_brief_path %>
<%end%>

<%= paginate(@briefs) %>
