<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Egresso</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="<%= briefs_path %>">Depoimentos</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="<%= courses_path %>">Cursos</a>
      </li>
      <% if coordinator_signed_in? %>  
        <li class="nav-item">
          <a class="nav-link" href="<%= coordinators_path %>">Coordenadores</a>
        </li>
      <%end%>
      <li class="nav-item">
        <a class="nav-link disabled" href="<%= students_path %>">Banco de Talentos</a>
      </li>
      
      <% if student_signed_in? %>
      <li class="nav-item">
          <%= current_student.nome %> - <%= link_to "Sair", destroy_student_session_path, method: :delete %> - <%= link_to "Atualizar Perfil", edit_registration_path(current_student)%>
      </li>
      <% elsif coordinator_signed_in?  %>
      <li class="nav-item">
          <%= current_coordinator.nome%> - <%= link_to "Sair", destroy_coordinator_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
          <a class="nav-link disabled" href="<%= new_student_session_path %>">Estudante</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="<%= new_coordinator_session_path %>">Coordenador</a>
      </li>
      <% end %>
        
      </li>
    </ul>
  </div>
</nav>